### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df["SN"].unique())
print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculations for unique items
unique_items_number = (purchase_data_df["Item ID"].nunique())
print(unique_items_number)

183

In [4]:
# Calculate for average price
average_price = (purchase_data_df['Price'].mean())
print(average_price)

# Purchase count
total_purchase = (purchase_data_df['SN'].count())
print(total_purchase)

# Total revenue
total_revenue = (purchase_data_df['Price'].sum())
print(total_revenue)

3.050987179487176
780
2379.77

In [5]:
# Display Results
purchase_analysis_df = pd.DataFrame({
    'Unique Items Number': [purchase_data_df['Item Name'].nunique()],
    'Average Price': [purchase_data_df['Price'].mean()],
    'Total Purchase': [purchase_data_df['SN'].count()],
    'Total Revenue': [purchase_data_df['Price'].sum()]
})

purchase_analysis_df

   Unique Items Number  Average Price  Total Purchase  Total Revenue
0                  179       3.050987             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Percentage and Count of Male Players
groupedby = purchase_data_df.groupby(['Gender'])
gender_counts = groupedby['SN'].nunique()
sum_gender_counts = gender_counts.sum()

male_count = gender_counts['Male']
male_percent = (male_count/sum_gender_counts) * 100

female_count = gender_counts['Female']
female_percent = (female_count/sum_gender_counts) * 100

other_count = gender_counts['Other / Non-Disclosed']
other_percent = (other_count/sum_gender_counts) * 100

gender_df = pd.DataFrame(gender_counts)
gender_df['Percents'] = [female_percent, male_percent, other_percent]
gender_df["Percents"] = gender_df["Percents"].map("{:.2f}%".format)
gender_df.columns = ["Total Count", "Percentage"]

gender_df

                       Total Count Percentage
Gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchasing Analysis (Gender)
#The below each broken by gender
#grouping by Gender
grouped_gender_df = purchase_data_df.groupby (['Gender'])
grouped_gender_df.count().head()

#Purchase Count
purchase_count = grouped_gender_df["SN"].count()

#Average Purchase 
average_purchase = grouped_gender_df["Price"].mean()

#Total Purchase Value
total_purchase_price = grouped_gender_df["Price"].sum()

#Normalized Totals
normalized_totals = total_purchase_price / gender_counts

#Summary dataframe using both calculations
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count,
                                           "Average Purchase":average_purchase,
                                           "Total Purchase Value":total_purchase_price,
                                           "Normalized Totals":normalized_totals})

purchasing_analysis_gender_summary = purchasing_analysis_gender[["Purchase Count",
                                                                 "Average Purchase",
                                                                 "Total Purchase Value",
                                                                 "Normalized Totals"]]

# Use Map to format all the columns
purchasing_analysis_gender_summary["Average Purchase"] = purchasing_analysis_gender_summary["Average Purchase"].map("${:,.2f}".format)
purchasing_analysis_gender_summary["Total Purchase Value"] = purchasing_analysis_gender_summary["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender_summary["Normalized Totals"] = purchasing_analysis_gender_summary["Normalized Totals"].map("${:,.2f}".format)


purchasing_analysis_gender_summary

,Purchase Count,Average Purchase,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_ranges)

groupedby_ages = purchase_data_df.groupby('Age Ranges')
age_counts = groupedby_ages['SN'].nunique()   
total_counts = age_counts.sum()

age_list = [{"Total Counts": age_counts["<10"], "Percentage of Players": (age_counts["<10"] * 100) / total_counts },
            {"Total Counts": age_counts["10-14"], "Percentage of Players": (age_counts["10-14"] * 100) / total_counts},
            {"Total Counts": age_counts["15-19"], "Percentage of Players": (age_counts["15-19"] * 100) / total_counts},
            {"Total Counts": age_counts["20-24"], "Percentage of Players": (age_counts["20-24"] * 100) / total_counts},
            {"Total Counts": age_counts["25-29"], "Percentage of Players": (age_counts["25-29"] * 100) / total_counts},
            {"Total Counts": age_counts["30-34"], "Percentage of Players": (age_counts["30-34"] * 100) / total_counts},
            {"Total Counts": age_counts["35-39"], "Percentage of Players": (age_counts["35-39"] * 100) / total_counts},
            {"Total Counts": age_counts["40+"], "Percentage of Players": (age_counts["40+"] * 100) / total_counts}]

age_demographic_df = pd.DataFrame(age_list)
age_demographic_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34', 6:'35-39', 7:'40+'}, inplace=True)
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{:.2f}%".format)
age_demographic_df = age_demographic_df[["Total Counts", "Percentage of Players"]]

age_demographic_df

       Total Counts Percentage of Players
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Purchasing Analysis(Age)
# Bin the purchase_data data frame by age
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_count_age = groupedby_ages["Purchase ID"].count()
avg_purchase_price_age = groupedby_ages["Price"].mean()
total_purchase_value = groupedby_ages["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/age_counts


#basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchase per Person": avg_purchase_per_person_age})


# Formatting
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#Top Spender
grouped_SN_df = purchase_data_df.groupby (['SN'])

#Purchase Count by name
SN_purchase_count = grouped_SN_df["Purchase ID"].count()

#Total Purchase Value
purchase_total_SN = grouped_SN_df["Price"].sum()

#Average Purchase Price
SN_average_purchase = grouped_SN_df["Price"].mean()

#Create dataframe 
SN_table = pd.DataFrame({"Purchase Count": SN_purchase_count,
                             "Average Purchase Price": SN_average_purchase,
                             "Total Purchase Value":purchase_total_SN})

# Sort in descending order 
formatted_SN = SN_table.sort_values(["Total Purchase Value"], ascending=False).head()

# Formatting 
formatted_SN.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_SN = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_SN["Price"].count()

# the purchase value per item 
purchase_value = (item_SN["Price"].sum()) 

# individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort the purchase count column in descending order
popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Formatting data
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
#total purchase value in descending order
popular_items = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Formatting
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})